body {
  font-family: "Montserrat"
}

.title-font {
  font-family: "Courgette"
}

.landing-page {
  background: url(../img/bg.jpg);
  background: #3097d1;
  /* Old browsers */
  background: -moz-linear-gradient(top, #3097d1 0%, #207cca 47%, #49a1e5 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #3097d1 0%, #207cca 47%, #49a1e5 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #3097d1 0%, #207cca 47%, #49a1e5 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

.container-fill-height {
  height: calc(100vh - 49px);
}

.list-show {
  display: list-item;
}